.header__logo {}

/*@media screen and (min-width: 924px) {
    .header__logo {
        margin: 45px 0 41px 0;
    }
}


@media screen and (min-width: 1024px) {
    .header__logo {
        width: 142px;
        height: 33px;
    }
}*/