.form-popup__input {
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    width: 358px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 28px;
    margin-bottom: 5px;
}