.form-popup__inputs {
    border: none;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    margin: 0 36px 20px 36px;
    padding: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}